<html>
<head>
    <title>Hunt framework version {{ huntVersion }}</title>
    <style>
        body { padding:0; margin:0; background: #AAAAAA; }
        #header { height: 60px; line-height: 60px; background: #333333; color: #DDDDDD; padding: 0 20px; }
        #content { height: 200px; line-height: 38px; font-color: #333333; padding: 0 20px; }
        #footer { height: 30px; line-height: 30px; background: #333333; color: #DDDDDD; padding: 0 20px; }
        #footer a, #footer a:hover { color: #DDDDDD; }
        .container { width: 1200px; margin: 0 auto; }
    </style>
</head>
<body>

<div id="header">
    <div class="container">
        <h1>Welcome to huntfreamwork world.</h1>
    </div>
</div>
